<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>example</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<servlet>
<servlet-name>AdditionServlet</servlet-name>
<servlet-class>example.AdditionServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdditionServlet</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AdditionServlet2</servlet-name>
<servlet-class>example.AdditionServlet2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdditionServlet2</servlet-name>
<url-pattern>/add2</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AdditionServlet3</servlet-name>
<servlet-class>example.AdditionServlet3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdditionServlet3</servlet-name>
<url-pattern>/add3</url-pattern>
</servlet-mapping>


</web-app>