@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
*{
	font-family: 'Gaegu', cursive;
}
#reg{
	width:50%;
	border:1px solid red;
}
#tableDiv{
	/* float:left; */
}
tr, td{
	float:left;
}
div, h1, form, header, body {
    margin:0;
    padding:0;
}

header {
    margin-bottom: 15px;
    border-bottom: 1px solid #DDD;
}

header>h1 {
    margin: 20px;
}



h2.title {
    border-bottom: 1px solid #DDD;
    padding : 5px;
    margin : 10px 0;
}
