body{
    background-color:rgb(75, 191, 245);
}
#container {
    /* margin:100px;s */
    top:100px;
    /* border: 2px solid red; */
    /* background-color:white; */
    border-radius: 15px;
    text-align: center;
    position: relative;
    width:600px;
    height:600px;
}

#title {
    top:20px;
    position: absolute;
    width: 100%;
    height:10%;
    /* border:3px solid black; */
    /* background-color: cadetblue; */
    background-image:url("../pic/flowers.png");
    background-size: contain;
    background-repeat: repeat;
}
#menuTitle{
    position: absolute;
    width:100%;
    height:50%;
}
#cartTitle{
    
}

/* #titleMenu {
    font-size: 5em;
    position: absolute;
    top: 30px;
    left: 620px;
} */

#menu {
    /* background-color: red; */
    position: absolute;
    width:100%;
    height:50%;
    /* border: 1px solid red; */
}
#cart{
    position: absolute;
    width:100%;
    height:50%;
    bottom:0;
    /* border: 1px solid blue; */
    /* background-color: blue; */
}
#div1 {
    /* border: 2px solid red; */
    position: absolute;
    margin:0px 100px;
    top:80px;
    /* background-color: white; */
}
#div2 {
    /* border: 2px solid red; */
    position: absolute;
    margin:0px 100px;
    top:80px;
    /* background-color: white; */
}
.menuItems {
    width:50px;
    /* border: 2px solid red; */
}

#flowers {
    width: 300px;
    /* background-repeat: repeat-x; */
    /* border:1px solid black; */
    position:absolute;
    /* background-image:url("pic/flowers.png"); */
}

.menus {
    width: 100px;
}

body {
    /* background-color: rgb(136, 215, 218); */
}